<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="N01413931_Project.Properties.Settings.DatabaseLibraryConnectionString"
            connectionString="Data Source=LAPTOP-1U7ATFF0\SQLEXPRESSNEW;Initial Catalog=DatabaseLibrary;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="login" value="false"/>
	</appSettings>
</configuration>